body{
margin: 0;
padding: 0;
background-color: black;
}
p {
  color: white;
}

h1{
  color: white;
  text-align: right;
  padding-right: 40px;
}

span{
  color: white;
}

li{
  color:white;
  font-size: 30px;
  padding-right: 20px;
}

.flex-row{
  display:flex; 
  flex-direction:row;
  margin:50px;
}

label{
  font-size: 30px;
  color: white;
}

input[type=checkbox] {
  visibility: hidden;
}